:root {
    /* dark text */
    --bs-body-color-rgb: 32, 33, 34;
    /* white background */
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-secondary-bg-rgb: 233, 233, 233;

    --bs-emphasis-color-rgb: var(--bs-body-color-rgb);

    --bs-body-color: rgb(var(--bs-body-color-rgb));
    --bs-body-bg: rgb(var(--bs-body-bg-rgb));
    --bs-secondary-color: rgba(var(--bs-body-color-rgb), 0.8);
    --bs-secondary-bg: rgb(var(--bs-secondary-bg-rgb));
    --bs-tertiary-color: rgba(var(--bs-body-color-rgb), 0.5);
    --bs-tertiary-bg: rgb(var(--bs-secondary-bg-rgb));

    --bs-emphasis-color: rgb(var(--bs-emphasis-color-rgb));

    --transition-duration: 0.3s;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* light text */
        --bs-body-color-rgb: 248, 234, 208;
        /* dark background */
        --bs-body-bg-rgb: 38, 38, 38;
        --bs-secondary-bg-rgb: 44, 44, 44;

    }
}

body {
    background-image: linear-gradient(to right,
            rgb(var(--bs-body-bg-rgb)),
            rgb(var(--bs-secondary-bg-rgb))) !important;
    font-family: "DM Sans", var(--bs-font-sans-serif);
}

.font-serif {
    font-family: "Linux Libertine", serif;
}
