<header class="sticky-top navbar bg-body shadow-sm">
  <nav class="container-fluid">
    <div class="row w-100 align-items-center mx-0">
      <div class="col-auto p-0">
        <a class="nav-link text-decoration-none font-serif fs-2" href="/" aria-label="WikipediaTyper">WikipediaTyper</a>
      </div>
      <div class="col-md-6 col-xl-5 col-xxl-4 mx-auto p-0">
        <div class="font-serif bg-secondary-subtle rounded-3 px-3 py-2 d-flex align-items-center">
          <button
            type="button"
            class="btn btn-text text-start p-0 pe-auto w-100 d-flex align-items-center"
            (click)="onSearchClick()"
            title="Search for article"
          >
            <span class="me-auto">{{gameState.articleTitle()}}</span>
            <span class="keymap-button rounded-1 mx-1 px-1 border border-secondary border-1 font-monospace">CTRL + K</span>
          </button>
          <span class="text-secondary">│</span>
          <button type="button" class="btn btn-icon p-0 mx-2" aria-label="Search for article" (click)="onSearchClick()"
            title="Search for article">
            <i class="bi bi-search"></i>
          </button>

          <button type="button" class="btn btn-icon p-0 ms-2" aria-label="Get random article" (click)="onShuffleClick()"
            title="Get random article">
            <i class="bi bi-shuffle"></i>
          </button>
        </div>
      </div>
      <div class="col-auto ps-0">
        <button type="button" class="btn btn-icon p-0 mx-2" aria-label="Source code" title="Source code" (click)="openGithub()">
          <i class="bi bi-github"></i>
        </button>

        <button type="button" class="btn btn-icon p-0 mx-2" aria-label="Sponsor" title="Sponsor">
          <i class="bi bi-heart-fill"></i>
        </button>

        <button type="button" class="btn btn-icon p-0 ms-2" aria-label="Settings" title="Settings">
          <i class="bi bi-gear-fill"></i>
        </button>
      </div>
    </div>
  </nav>
</header>

<app-search-modal />
