<div
  #searchModelRef
  class="modal fade" aria-labelledby="searchModal" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content noBorder">
      <div class="modal-body">
        <div class="input-group">
          <input
            #searchInput
            class="form-control"
            id="searchTerm"
            type="text"
            placeholder="Search for Wikipedia article to type..."
            [formControl]="searchTerm"
          >
          <span class="formSeparator py-2">│</span>
          <select
            class="form-select w-auto flex-grow-0"
            id="language"
            [formControl]="searchLang"
          >
            @for (lang of languages; track lang.code) {
            <option [value]="lang.code">
              {{ lang.label }}
            </option>
            }
          </select>
        </div>

        @if (loading()) {
          <div class="mt-3">
            @for (i of placeholderTextOffsets; track $index) {
              <div class="card my-2" aria-hidden="true">
                <div class="card-body">
                  <h4 class="card-title placeholder-glow">
                    <span class="placeholder col-6"></span>
                  </h4>
                  <p class="card-text placeholder-glow">
                    <span class="placeholder col-12"></span>
                    <span class="placeholder col-{{i+3}}"></span>
                  </p>
                </div>
              </div>
            }
          </div>
        }

        @if (!loading() && results().length > 0) {
          <div class="mt-3">
            @for (result of results(); track result.pageid) {
              <div
                class="card my-2"
                (click)="openArticle(result.title)"
                style="cursor:pointer"
              >
                <div class="card-body">
                  <h4 class="card-title font-serif">{{ result.title }}</h4>
                  <p class="card-text">
                    <span [innerHTML]="result.snippet + '...'"></span>
                  </p>
                </div>
              </div>
            }
          </div>
        }

        @if (!loading() &&  results().length === 0) {
          <div class="mt-3 mx-2">
            <h4 class="font-serif">No articles found.</h4>
          </div>
        }
      </div>
    </div>
  </div>
</div>
