::ng-deep .searchmatch {
  font-weight: bold;
}

.form-control,
.form-select {
  border: none;
  background-color: var(--bs-body-bg);
}

.formSeparator {
  background-color: var(--bs-body-bg);
  color: var(--bs-secondary);
  display: flex;
  align-items: center;
}

.modal-content {
  border: 0;
}

.modal-body {
  background-color: var(--bs-secondary-bg-subtle);
}

.card {
  background-color: var(--bs-body-bg);
  border: 0;
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: var(--bs-secondary-bg);
}
