@font-face {
    font-family: "Linux Libertine";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/fonts/LinLibertine_Rah.ttf");
}

@font-face {
    font-family: "Linux Libertine";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("/fonts/LinLibertine_RBah.ttf");
}

@font-face {
    font-family: "Linux Libertine";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url("/fonts/LinLibertine_RIah.ttf");
}

@font-face {
    font-family: "Linux Libertine";
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url("/fonts/LinLibertine_RBIah.ttf");
}

@font-face {
    font-family: "Linux Libertine";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/LinLibertine_RZah.ttf");
}

@font-face {
    font-family: "Linux Libertine";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/LinLibertine_RZIah.ttf");
}

$font-family-serif: "Linux Libertine", Georgia, "Times New Roman", Times, serif;

.font-serif {
  font-family: $font-family-serif;
}

