@font-face {
    font-family: "Linux Libertine";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("/fonts/LinuxLibertine/LinLibertine_Rah.ttf");
}

@font-face {
    font-family: "Linux Libertine";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("/fonts/LinuxLibertine/LinLibertine_RBah.ttf");
}

@font-face {
    font-family: "Linux Libertine";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url("/fonts/LinuxLibertine/LinLibertine_RIah.ttf");
}

@font-face {
    font-family: "Linux Libertine";
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url("/fonts/LinuxLibertine/LinLibertine_RBIah.ttf");
}

@font-face {
    font-family: "Linux Libertine";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/LinuxLibertine/LinLibertine_RZah.ttf");
}

@font-face {
    font-family: "Linux Libertine";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/LinuxLibertine/LinLibertine_RZIah.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 1 1000;
    font-display: swap;
    src: url("/fonts/OpenSans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype-variations");
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 1 1000;
    font-display: swap;
    src: url("/fonts/OpenSans/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("truetype-variations");
}

$font-family-serif: "Linux Libertine", Georgia, "Times New Roman", Times, serif;

.font-serif {
  font-family: $font-family-serif;
}

