.word {
  display: inline-block;
  white-space: nowrap;
  margin-right: 0.3em;
}

.word-header {
  display: inline-block;
  white-space: nowrap;
  margin-right: 0.3em;
}

.word-no-space {
  display: inline-block;
  white-space: nowrap;
  margin-right: 0em;
}

.math-block {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.word > span {
  display: inline-block;
}

.icon-wrapper {
  display: inline-block;
  vertical-align: bottom;
  height: 1em;
}

.enter-icon-active {
  color: var(--bs-body-color) !important;
}
