@if (word().word) {
  <span class="word text-body-tertiary">
  @for (q of word().word; track q; let qIndex = $index) {
    @let correct = this.gameState.isCorrectLetter(sIndex(), wIndex(), qIndex);
    <span
      [id]="'q-' + sIndex() + '-' + wIndex() + '-' + qIndex"
      [class.text-body]="correct === true"
      [class.text-danger]="correct === false"
    >
      {{ q.value }}
    </span>
  }

  @let excess = this.gameState.getExcess(sIndex(), wIndex())();
   @if (excess) {
    @for (excessChar of excess; track $index; let excessIndex = $index) {
      <span
        [id]="'excess-' + sIndex() + '-' + wIndex() + '-' + excessIndex"
        class="text-danger"
      >
        {{ excessChar }}
      </span>
    }
  }
  </span>
}
@if (word().math; as math) {
  <span
    class="fs-2 text-success icon-wrapper"
    [class.word-no-space]="math.noSpace"
    [class.text-body]="this.gameState.isCorrectLetter(sIndex(), wIndex(), 0)"
  >
    <app-math [latex]="word().math?.latex" [inline]="true"></app-math>
  </span>
}

@if (wIndex() === segmentBodyLength() - 1) {
   @let segmentPassed = this.gameState.currentSegmentIndex() > sIndex();
  <span
    class="icon-wrapper"
  >
    <i
      class="ms-1 text-body-tertiary bi bi-arrow-return-left"
      [class.enter-icon-active]="segmentPassed"
    ></i>
  </span>
}
