:root {
    --typing-font-size: 3.5rem;
    --line-height: 4rem;
}

.center {
    margin-top: 40vh;
}

.typed {
    font-size: var(--typing-font-size);
    font-family: "Linux Libertine", serif;
    color: var(--bs-body-color);
    position: relative;
    font-variant-ligatures: none;
    font-kerning: none;
}

.typed_wrong {
    font-size: var(--typing-font-size);
    font-family: "Linux Libertine", serif;
    color: var(--bs-danger);
}

.typing {
    font-size: var(--typing-font-size);
    font-family: "Linux Libertine", serif;
    color: var(--bs-body-color);
    position: relative;
    font-variant-ligatures: none;
    font-kerning: none;
}

.typing::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 3px;
    height: 1em;
    background-color: var(--bs-tertiary-color);
    animation: blink .7s step-end infinite alternate;
}

.typing_wrong {
    font-size: var(--typing-font-size);
    font-family: "Linux Libertine", serif;
    color: var(--bs-danger);
    position: relative;
    font-variant-ligatures: none;
    font-kerning: none;
}

.typing_wrong::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 3px;
    height: 1em;
    background-color: var(--bs-tertiary-color);
    animation: blink .7s step-end infinite alternate;
}

.to_type {
    font-size: var(--typing-font-size);
    font-family: "Linux Libertine", serif;
    color: var(--bs-tertiary-color);
    position: relative;
    font-variant-ligatures: none;
    font-kerning: none;
}

.cursor {
    position: relative;
    vertical-align: middle;
}

.cursor::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: var(--bs-tertiary-color);
    animation: blink .7s step-end infinite alternate;
}

@keyframes blink {
    50% {
        background-color: transparent
    }
}
