<input
  id="userInput"
  type="text"
  [formControl]="userInput"
  (keydown)="this.gameState.onKeyDown($event)"
>
NOTE: this version of the app is under development, the current version is only for testing and lacks features to be a playable game.<br>
{{this.gameState.userArticle()}}

@if (this.gameState.article(); as art) {
  <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
  <h1 class="display-1 mt-4 font-serif">{{ art.title }}</h1>
      @for (segment of art.segments; track segment; let sIndex = $index) {
        @switch (true) {
          @case (segment.type === 'text') {
            <p class="display-6 mb-3 font-serif">
              @for (word of segment.body; track word; let wIndex = $index) {
                <app-word
                  [word]="word"
                  [sIndex]="sIndex"
                  [wIndex]="wIndex"
                  [segmentBodyLength]="segment.body.length"
                ></app-word>
              }
            </p>
          }
          @case (segment.type === 'header2') {
            <h2 class="display-3 mt-4 mb-2 font-serif">
              @for (word of segment.body; track word; let wIndex = $index) {
              <app-word
                [word]="word"
                [sIndex]="sIndex"
                [wIndex]="wIndex"
                [segmentBodyLength]="segment.body.length"
              ></app-word>
              }
            </h2>
          }
          @case (segment.type === 'header3') {
            <h3 class="display-4 mt-4 mb-2 font-serif">
              @for (word of segment.body; track word; let wIndex = $index) {
              <app-word
                [word]="word"
                [sIndex]="sIndex"
                [wIndex]="wIndex"
                [segmentBodyLength]="segment.body.length"
              ></app-word>
              }
            </h3>
          }
          @case (segment.type === 'header4') {
            <h4 class="display-5 mt-4 mb-2 font-serif">
              @for (word of segment.body; track word; let wIndex = $index) {
              <app-word
                [word]="word"
                [sIndex]="sIndex"
                [wIndex]="wIndex"
                [segmentBodyLength]="segment.body.length"
              ></app-word>
              }
            </h4>
          }
          @case (segment.type === 'math') {
          <div class="fs-2 text-success text-center math-block">
            <span
              class="word fs-2 text-success"
              [class.text-body]="this.gameState.isCorrectLetter(sIndex, 0, 0)"
            >
              <app-math [latex]="segment.body[0].math?.latex" [inline]="false"></app-math>
            </span>
          </div>
          }
        }
      }
  </cdk-virtual-scroll-viewport>
} @else {
  <p class="font-serif fs-5">Loading article...</p>
}
